/* fonts: quicksand , righteous */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Righteous&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root {
    --navyBlue: #055052;
}

body{
    font-family: 'Quicksand', sans-serif;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.container{
    font-size: 15px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 20px;
    /* font-size: 15px; */
    letter-spacing: 3px;
    box-shadow: 2px 2px 12px -4px rgba(0, 0, 0, 0.2);
}

.btn{
    box-shadow: 3px 4px 10px 2px rgba(0, 0, 0, 0.2);
}

.searchInput{
    box-shadow: 3px 4px 10px 2px rgba(0, 0, 0, 0.2);
}

.navbar-brand{
    font-size: 30px;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.myNavColour{
    background-color: #F5F3FF;
}

.homeStarting{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #27323A;
}

.composeAndSearchBox{
    display: flex;
    justify-content: space-between;
}

/* .searchBox{
    width: 40vw;
} */

.postAuthr{
    margin: 10px 0px;
}

.postAuthr span{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: #27323A;
}

.blogTC{
    text-align: justify;
}

.blogTC h1{
    margin: 15px auto;
    text-align: center;
}

.like{
    border-radius: 5rem;
}

.postSectionHome{
    margin: 2rem 1rem 1rem 1rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.postPreviewCard{
    width: 480px;
    padding: 1rem;
    margin: 1rem 1rem 1rem 1.5rem;
    border-radius: 0.3rem;
    box-shadow: 2px 4px 12px 3px rgba(0, 0, 0, 0.2);
}

.postPreviewCard:hover{
    box-shadow: 6px 10px 15px 4px rgba(0,0,0,0.2);
}

.likes-comment-delete{
    margin: 10px 1px 15px 0px;
    display: flex;
    justify-content: space-between;
}

.likes-comment-delete h4{
    font-weight: bolder;
}

.commentBox{
    margin: 1px 0px 25px 0px;
}

.post-date-font{
    font-size: 12px;
}

.authr{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: #27323A;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
    /* font-family: 'Righteous', cursive; */
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
	text-align: center;
    align-items: center;
    justify-content: space-between;
	width: 100%;
	height: 150px;
    padding: 2rem;
    color: beige;
    display: flex;
    flex-wrap: wrap;
    /* background-color: var(--navyBlue); */
	/* background-color: #1abc9c; */
    background-color: #082032;
}



.footer-about{
    max-width: 460px;
    text-align:justify;
}

.footer p {
	margin-top: 20px;
	font-size: 12px;
    color: beige;
}
